* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", cursive;
}

.contenedor-header {
    background: url(../img/Banner-Esencial-Vacio.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 2;
    top: 0;
    height: 75px;

    &_div {
        width: 48%;
        height: 75px;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 1%;

        a {
            height: 70px;
            text-decoration: none;
            font-family: 'Dancing Script', cursive;
            font-size: 40pt;
            color: rgb(255, 160, 150);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-right: 1rem;
                border-color: silver; //rgb(255, 160, 150)
                border-style: solid;
                width: 60px;
                border-radius: 50%;
                height: 60px;
                vertical-align: top;
            }
        }


        &:hover {
            transform: scale(1.1);
        }
    }
}

.footer {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkslategrey;
    width: 100%;
    color: #fff;
    font-size: 14px;
    padding: 0 !important;
    margin: 0 !important;
    border-top-style: solid;
    border-color: black;

    p {
        margin-bottom: 0;
    }

    a {
        text-decoration: none;
        font-style: italic;
        color: rgb(80, 239, 183)
    }
}
.img-area{
    background-image: url(../img/deco-crochet1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 99%;
    position: absolute;
    width: 100%;
    border-top: #e91e63;
    border-top-style: solid;
    filter: blur(2px);
    z-index: 0;
}


.contact {
    z-index: 1;
    position: relative;
    min-height: 80vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .content {
        max-width: 500px;
        text-align: center;
        z-index: 1  ;

        h2 {
            font-size: 36px;
            font-style: 500;
            color: white;
        }

        p {
            font-weight: 300;
            color: white;

        }
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .contactInfo {
            width: 50%;
            display: flex;
            flex-direction: column;

            .box {
                position: relative;
                width: fit-content;
                padding: 40px 0;
                display: flex;
                left: 30%;

                .icon {
                    min-width: 60px;
                    height: 60px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 22px;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    font-weight: 300;

                    h2 {
                        font-size: 20pt;
                        font-weight: 500;
                        color: rgb(0, 173, 212)
                    }
                }
            }
        }

        .contactForm {
            z-index: 1;
            width: 40%;
            padding: 40px;
            background-color: white;
            margin-top: 20px;
            h2 {
                font-size: 30px;
                color: #333;
                font-weight: 800;
            }

            .inputBox {
                position: relative;
                width: 100%;
                margin-top: 10px;

                input,
                textarea {
                    width: 100%;
                    padding: 5px 0;
                    font-size: 16px;
                    margin: 10px 0;
                    border: none;
                    border-bottom: 2px solid black;
                    outline: none;
                    resize: none;

                    &:focus~span {
                        color: #e91e63;
                        font-size: 12px;
                        transform: translateY(-20px);
                    }

                    &:valid~span {
                        color: #e91e63;
                        font-size: 12px;
                        transform: translateY(-20px);
                    }
                }

                input[type="submit"] {
                    width: 100px;
                    background-color: #00bcd4;
                    color: white;
                    border: none;
                    cursor: pointer;
                    padding: 10px;
                    font-size: 18px;
                }

                span {
                    position: absolute;
                    left: 0;
                    padding: 5px 0;
                    font-size: 16px;
                    margin: 10px 0;
                    pointer-events: none;
                    transition: 0.5s;
                    color: grey;
                }
            }

        }
    }
}


@media screen and (max-width: 970px) {
    .contact {
        padding: 50px;

        .container {
            flex-direction: column;

            .contactInfo {
                width: 100%;
                margin-bottom: 40px;
                .box{
                    padding: 10px;
                }
            }

            .contactForm {
                width: 100%;
            }
        }
    }

    .contenedor-header {
        &_div {
            width: 45%;
            height: 8vh;

            a {
                font-size: 24pt;

                img {
                    margin-right: .5rem;
                }
            }
        }
    }
}