body {
  background-image: linear-gradient(to top, #c4a6ee 0%, #fbc2eb 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ul {
  padding: 0 !important;
  /*Para evitar el formato de bs*/
  margin: 0 !important;
  /*Para evitar el formato de bs*/
}

#card-text-bg {
  width: 80%;
  height: 300px;
  border-style: solid;
  border-color: silver;
  border-radius: 20ch;
  background-size: cover;
  background-position: center;
}

.card-img-overlay h5,
.card-img-overlay p {
  position: relative;
  left: 10%;
  font-family: "Montserrat", cursive;
  color: darkblue;
}
.card-img-overlay .card-img {
  display: none;
  -o-object-fit: contain;
     object-fit: contain;
}

.categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
}
.categorias-div {
  display: flex;
  justify-content: flex-start;
  width: 750px;
  height: auto;
  margin-bottom: 50px;
  box-shadow: 5px 8px 25px darksalmon;
}
.categorias-div img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 760px) {
  .grid-index {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8vh auto auto max-content auto;
    grid-template-areas: "header" "menu-nav" "banner" "destacados" "footer";
  }
  .contenedor-header {
    grid-area: header;
    background: url(../img/Banner-Esencial-Vacio.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    z-index: 2;
    position: sticky;
    top: 0;
  }
  .contenedor-header_div {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .contenedor-header_div a {
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-size: 24pt;
    color: rgb(255, 160, 150);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-header_div a img {
    margin-right: 0.5rem;
    border-color: silver;
    border-style: solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .contenedor-nav {
    grid-area: menu-nav;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 8vh;
    border-bottom-style: solid;
    border-color: rgb(217, 112, 112);
    z-index: 2;
  }
  .contenedor-nav_menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .contenedor-nav_menu li {
    transition: all 0.3s;
    margin: 3px;
  }
  .contenedor-nav_menu li a {
    width: 100%;
    font-size: 1rem;
    font-family: Montserrat, cursive;
    text-decoration: none;
    transition: all 0.3s;
    color: #C18174;
  }
  .contenedor-nav_menu li a:hover {
    color: rgb(255, 160, 150);
  }
  .destacados {
    grid-area: destacados;
    background-color: rgba(250, 223, 220, 0.579);
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .destacados_div {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
  }
  .destacados_div img {
    transition: all 0.3s;
    opacity: 1;
    border-radius: 20% 10%;
    width: 160px;
    height: 160px;
    margin-inline: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: silver;
    border-style: solid;
    border-width: lvw;
  }
  .destacados_div img:hover {
    opacity: 0.5;
  }
  #carouselExampleFade {
    margin-top: 10px;
    width: 80%;
    left: 10%;
    z-index: 0;
  }
}
.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: darkslategrey;
  color: #fff;
  font-size: 14px;
  width: 100%;
}
.footer p {
  margin-bottom: 0;
}
.footer a {
  text-decoration: none;
  font-style: italic;
  color: rgb(80, 239, 183);
}

.categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  flex-direction: column;
}
.categorias-div {
  display: flex;
  width: 400px;
  height: 150px;
  margin-bottom: 60px;
  box-shadow: 5px 8px 25px darksalmon;
}
.categorias-div:nth-child(1) {
  box-shadow: 0px 0px 10px 2px darkmagenta;
}
.categorias-div:nth-child(2) {
  box-shadow: 0px 0px 10px 2px darkcyan;
}
.categorias-div:nth-child(3) {
  box-shadow: 0px 0px 10px 2px rgb(162, 215, 222);
}
.categorias-div:nth-child(4) {
  box-shadow: 0px 0px 10px 2px darkgoldenrod;
}
.categorias-div img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transition: all 0.3s;
}
.categorias-div img:hover {
  opacity: 1;
}

@media screen and (min-width: 760px) {
  .grid-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto auto auto auto;
    grid-template-areas: "header     header" "menu-nav   menu-nav" "banner     banner" "destacados destacados" "footer     footer";
  }
  .contenedor-header {
    grid-area: header;
    background: url(../img/Banner-Esencial-Vacio.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    position: sticky;
    top: 0;
  }
  .contenedor-header_div {
    width: 48%;
    height: 75px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 1%;
  }
  .contenedor-header_div a {
    height: 70px;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-size: 40pt;
    color: rgb(255, 160, 150);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-header_div a img {
    margin-right: 1rem;
    border-color: silver;
    border-style: solid;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    vertical-align: top;
  }
  .contenedor-header_div:hover {
    transform: scale(1.1);
  }
  .contenedor-nav {
    grid-area: menu-nav;
    height: -moz-max-content;
    height: max-content;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 75px;
    border-bottom-style: solid;
    border-color: rgb(217, 112, 112);
    z-index: 2;
  }
  .contenedor-nav_menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contenedor-nav_menu li {
    transition: all 0.3s;
    margin-inline: 0;
    flex-direction: column;
    margin-inline: 2rem;
  }
  .contenedor-nav_menu li:hover {
    transform: scale(1.1);
  }
  .contenedor-nav_menu li a {
    width: 100%;
    font-size: 1.5rem;
    font-family: Montserrat, cursive;
    text-decoration: none;
    transition: all 0.3s;
    color: #C18174;
  }
  .contenedor-nav_menu li a:hover {
    color: rgb(255, 160, 150);
  }
  #carouselExampleFade {
    margin-top: 10px;
    width: 80%;
    left: 10%;
    z-index: 0;
  }
  .destacados {
    grid-area: destacados;
    background-color: rgba(250, 223, 220, 0.579);
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .destacados_div {
    width: 160px;
    height: 160px;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-inline: 1rem;
  }
  .destacados_div-img {
    transition: all 0.3s;
    opacity: 1;
    border-radius: 20% 10%;
    width: 100%;
    height: 100%;
    border-color: silver;
    border-style: solid;
    border-width: 0.5mm;
  }
  .destacados_div-img:hover {
    opacity: 0.5;
  }
  .categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    flex-direction: column;
  }
  .categorias-div {
    display: flex;
    width: auto;
    height: auto;
    margin-bottom: 60px;
    box-shadow: 5px 8px 20px darkgray;
    transition: all 0.3s;
  }
  .categorias-div img {
    width: 750px;
    height: 250px;
    opacity: 0.8;
    transition: all 0.3s;
  }
  .categorias-div img:hover {
    opacity: 1;
  }
  .categorias-div:nth-child(1):hover {
    opacity: 1;
    box-shadow: 0px 0px 50px 2px darkmagenta;
  }
  .categorias-div:nth-child(2):hover {
    opacity: 1;
    box-shadow: 0px 0px 50px 2px red;
  }
  .categorias-div:nth-child(3):hover {
    opacity: 1;
    box-shadow: 0px 0px 50px 2px darkcyan;
  }
  .categorias-div:nth-child(4):hover {
    opacity: 1;
    box-shadow: 0px 0px 50px 2px darkgoldenrod;
  }
  .footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkslategrey;
    width: 100%;
    color: #fff;
    font-size: 14px;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .footer p {
    margin-bottom: 0;
  }
  .footer a {
    text-decoration: none;
    font-style: italic;
    color: rgb(80, 239, 183);
  }
}/*# sourceMappingURL=index.css.map */