* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ul {
  padding: 0 !important;
  /*Para evitar el formato de bs*/
  margin: 0 !important;
  /*Para evitar el formato de bs*/
}

@media screen and (max-width: 600px) {
  .grid-index {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh auto max-content;
    grid-template-areas: "header" "menu-nav";
  }
  .contenedor-header {
    grid-area: header;
    background: url(../_IMAGENES/Banner-Esencial-Vacio.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    position: sticky;
  }
  .contenedor-header_div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .contenedor-header_div a {
    text-decoration: none;
    font-family: "Montserrat", cursive;
    font-size: 24pt;
    color: rgb(255, 160, 150);
    position: relative;
  }
  #carouselExampleFade {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .grid-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 5vh auto auto auto;
    grid-template-areas: "header     header" "menu-nav   menu-nav" "banner     banner" "destacados destacados" "footer     footer";
  }
  .contenedor-header {
    grid-area: header;
    background: url(../_IMAGENES/Banner-Esencial-Vacio.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 2;
    position: sticky;
    top: 0;
  }
  .contenedor-header_div {
    width: 100%;
    transition: all 0.3s;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 1%;
  }
  .contenedor-header_div a {
    height: 70px;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-size: 40pt;
    color: rgb(255, 160, 150);
  }
  .contenedor-header_div img {
    margin-right: 1rem;
    border-color: silver;
    border-style: solid;
    width: 70px;
    border-radius: 50%;
    height: 70px;
    vertical-align: top;
  }
  .contenedor-header_div:hover {
    transform: scale(1.1);
  }
  .contenedor-nav {
    grid-area: menu-nav;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 10vh;
    border-bottom-style: solid;
    border-color: rgb(217, 112, 112);
    z-index: 2;
  }
  .contenedor-nav_menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
  }
  .contenedor-nav_menu li {
    transition: all 0.3s;
    margin-inline: 0;
    flex-direction: column;
  }
  .contenedor-nav_menu li:hover {
    transform: scale(1.1);
  }
  .contenedor-nav_menu li a {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 18pt;
    font-family: Montserrat, cursive;
    text-decoration: none;
    transition: all 0.3s;
    color: #C18174;
  }
  .contenedor-nav_menu li a:hover {
    color: rgb(255, 160, 150);
  }
  .destacados {
    grid-area: destacados;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .destacados_div {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
  }
  .destacados_div img {
    transition: all 0.3s;
    opacity: 1;
    border-radius: 20% 10%;
    width: 35vh;
    height: 35vh;
    margin: 1rem;
    border-color: silver;
    border-style: solid;
    border-width: lvw;
  }
  .destacados_div img:hover {
    opacity: 0.5;
  }
  .footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: #303030;
    color: #fff;
    font-size: 14px;
  }
  .footer a {
    text-decoration: none;
    font-style: italic;
    color: rgb(80, 239, 183);
  }
}/*# sourceMappingURL=index.css.map */