* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*ul {
    padding: 0 !important;
    /*Para evitar el formato de bs*/
    margin: 0 !important;
    /*Para evitar el formato de bs*/
}

#card-text-bg {
    width: 80%;
    height: 300px;
    border-style: solid;
    border-color: silver;
    border-radius: 20ch;
    background-image: url(../img/banner-kitchen.jpg);
    background-size: cover;
    background-position: center;
}

.card-img-overlay {
    h5,p {
        position: relative;
        left: 10%;
        font-family: "Montserrat", cursive;
        color: darkblue;
    }

    .card-img {
        display: none;
        object-fit: contain;
    }
}

.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    flex-direction: column;

    div {
        margin: 15px;
    }
}


@media screen and (max-width: 600px) {
    .grid-index {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10vh auto max-content;
        grid-template-areas:
            "header"
            "menu-nav"
    }

    .contenedor-header {
        grid-area: header;
        background: url(../img/Banner-Esencial-Vacio.png);
        background-size: cover;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        z-index: 2;
        position: sticky;

        &_div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            a {
                text-decoration: none;
                font-family: 'Montserrat', cursive;
                font-size: 24pt;
                color: rgb(255, 160, 150);
                position: relative;
            }
        }

    }

    #carouselExampleFade {
        display: none;
    }
}

@media screen and (min-width: 660px) {

    body {
        background-color: rgb(255, 239, 212);
    }

    .grid-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 75px auto auto auto 10vh;
        grid-template-areas:
            "header     header"
            "menu-nav   menu-nav"
            "banner     banner"
            "destacados destacados"
            "footer     footer"
    }

    .contenedor-header {
        grid-area: header;
        background: url(../img/Banner-Esencial-Vacio.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        z-index: 1;
        position: sticky;
        top: 0;

        &_div {
            width: 100%;
            transition: all 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            right: 1%;


            a {
                height: 70px;
                ;
                text-decoration: none;
                font-family: 'Dancing Script', cursive;
                font-size: 40pt;
                color: rgb(255, 160, 150);
            }

            img {
                margin-right: 1rem;
                border-color: silver; //rgb(255, 160, 150)
                border-style: solid;
                width: 70px;
                border-radius: 50%;
                height: 70px;
                vertical-align: top;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .contenedor-nav {
        grid-area: menu-nav;
        height: max-content;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 75px;
        border-bottom-style: solid;
        border-color: rgb(217, 112, 112);
        z-index: 2;

        &_menu {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;

            li {
                transition: all 0.3s;
                margin-inline: 0;
                flex-direction: column;
                margin-inline: 2rem;

                &:hover {
                    transform: scale(1.1);
                }

                a {

                    width: 100%;
                    font-size: 1.5rem;
                    font-family: Montserrat, cursive;
                    text-decoration: none;
                    transition: all 0.3s;
                    color: #C18174;

                    &:hover {
                        color: rgb(223, 177, 172);
                    }
                }
            }
        }
    }

    div.carousel-inner {
        display: flex;
    }

    #carouselExampleFade {
        width: 80%;
        left: 10%;
    }

    .destacados {
        grid-area: destacados;
        background-color: rgba(250, 223, 220, 0.579); //rgb(223, 182, 182);// rgb(172, 51, 51)
        width: 80%;
        position: relative;
        left: 10%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        &_div {
            width: fit-content;
            display: flex;
            flex-direction: row;

            img {
                transition: all 0.3s;
                opacity: 1;
                border-radius: 20% 10%;
                width: 160px;
                height: 160px;
                margin-inline: 2rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                border-color: silver;
                border-style: solid;
                border-width: lvw;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    .footer {
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: darkslategrey;
        width: 100%;
        color: #fff;
        font-size: 14px;

        p {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            font-style: italic;
            color: rgb(80, 239, 183)
        }
    }
}