body {
    background-image: linear-gradient(to top, #c4a6ee 0%, #fbc2eb 100%);
}

#coleccion-cm {
    background-image: linear-gradient(to top, rgb(247, 221, 158) 0%, #bfe2d6 100%);
}

#coleccion-se {
    background-image: linear-gradient(to top, #d5ca7b 30%, #b7e1ff 100%);
}

#coleccion-pm {
    background-image: linear-gradient(to top, #a1d490 0%, #f9ebbd 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*ul {
    padding: 0 !important;
    /*Para evitar el formato de bs*/
    margin: 0 !important;
    /*Para evitar el formato de bs*/
}


#card-text-bg {
    width: 80%;
    height: 300px;
    border-style: solid;
    border-color: silver;
    border-radius: 20ch;
    background-size: cover;
    background-position: center;
}

.card-img-overlay {

    h5,
    p {
        position: relative;
        left: 10%;
        font-family: "Montserrat", cursive;
        color: darkblue;
    }

    .card-img {
        display: none;
        object-fit: contain;
    }
}

.contactButton {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 10px;
    padding: 15px;

    button {
        width: 30%;
        background-color: #1a9cad;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border-radius: 75%;
        padding: 15px;

        a {
            width: 100%;
            text-decoration: none;
            font-family: "Montserrat" cursive;
            font-weight: 700;
            color: white;
        }
    }
}

.buyButton {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 0;
    width: 100%;
    margin-inline-end: 0;
    padding: 0;
    margin-right: 20px;
    margin-bottom: 20px;

    button {
        width: 20%;
        min-width: 200px;
        background-color: #06434b;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border-radius: 20px;
        padding: 15px;
        margin-right: 20px;

        a {
            width: 100%;
            text-decoration: none;
            font-family: "Montserrat" cursive;
            font-weight: 700;
            color: white;
        }
    }
}

.about-us {
    grid-area: about;
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 10px;
    padding: 15px;

    &-div {
        display: flex;
        width: 80%;
        position: relative;
        left: 10%;
        padding-inline: 20px;
        background-color: white;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;

        h3 {
            padding: 1rem 0;
            font-family: "Montserrat" cursive;
            font-size: 50px;
            text-align: center;
        }

        h4 {
            margin-bottom: 20px;
            text-align: center;
            font-family: "Montserrat" cursive;
        }

        p {
            font-family: "Montserrat", cursive;
            text-align: justify;
            padding-inline: 1rem;
            font-size: 20px;
            line-height: 1.5;
            text-indent: 2.5rem;
            margin: 0;
        }
    }
}


.catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25%;
    width: 50%;
    min-height: 80vh;
    //background-color: beige;
    flex-direction: column;

    &-div {
        display: flex;
        position: relative;
        justify-content: center;
        background-color: white;
        flex-direction: row;
        align-items: center;
        border-radius: 30px;
        max-height: 60vh;
        margin: 20px;
        padding: 2%;
        width: 1000px;

        img {
            width: 250px;
            height: 250px;
            border-radius: 20px;
            border-style: solid;
            border-color: silver;
            border-width: 5px;
            margin: 20px;

        }

        h2 {
            margin: 20px;
            width: 100%;
            text-align: left !important;
            font-weight: 700;
            font-family: "Montserrat", cursive;
        }

        p {
            margin: 20px;
            font-size: 14pt;
            font-family: "Montserrat", cursive;
            text-align: justify;
            text-indent: 1.5rem;

        }
    }
}

@media (min-width: 800px) and (max-width: 1300px){
    .catalogo {
        &-div {
            width: 800px;
        }
    }
}


@media screen and (max-width: 850px) {
    .catalogo{
        width: 90%;
        left:5%;
        &-div{
            flex-direction: column;
            width: min-content;
            max-height: none;
            img{
                width: 400px;
                height: 350px;
                margin-top: 45px;
            }
            h2{
                font-size: 16pt;
                padding-inline: 15px;
            }
            p{
                font-size: 12pt;
                padding-inline: 15px;
            }
            .buyButton{
                margin: 0;
                padding: 0;
            }
        }
    }

    .about-us {
        &-div {
            width: 90%;
            position: relative;
            left: 5%;
            padding-inline: 20px;
            background-color: white;
            flex-direction: column;
            border-radius: 10px;
            margin-top: 5px;
            margin-bottom: 5px;

            h3 {
                font-size: 25px;
            }

            h4 {
                font-size: 16px;
            }

            p {
                padding-inline: 0;
                font-size: 12px;
            }
        }
    }

    .contactButton {
        button {
            width: 60%;
            border-radius: 75%;
        }
    }

    .grid-index {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 8vh auto auto max-content auto;
        grid-template-areas:
            "header"
            "menu-nav"
            "banner"
            "about"
            "footer"
    }

    .contenedor-header {
        grid-area: header;
        background: url(../img/Banner-Esencial-Vacio.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        z-index: 2;
        position: sticky;
        top: 0;

        &_div {
            width: 100%;
            height: 8vh;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;

            a {
                text-decoration: none;
                font-family: 'Dancing Script', cursive;
                font-size: 24pt;
                color: rgb(255, 160, 150);
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin-right: .5rem;
                    border-color: silver; //rgb(255, 160, 150)
                    border-style: solid;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }

        }

    }

    .contenedor-nav {
        grid-area: menu-nav;
        height: auto;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 8vh;
        border-bottom-style: solid;
        border-color: rgb(217, 112, 112);
        z-index: 2;

        &_menu {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;

            li {
                transition: all 0.3s;
                margin: 3px;

                a {
                    width: 100%;
                    font-size: 1.2rem;
                    font-family: Montserrat, cursive;
                    text-decoration: none;
                    transition: all 0.3s;
                    color: #C18174;

                    &:hover {
                        color: rgb(255, 160, 150);
                    }
                }
            }
        }
    }




    #carouselExampleFade {
        margin-top: 10px;
        width: 90%;
        left: 5%;
        z-index: 0;
    }

    .footer {
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: darkslategrey;
        color: #fff;
        font-size: 14px;
        width: 100%;
        border-top-style: solid;
        border-color: black;

        p {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            font-style: italic;
            color: rgb(80, 239, 183)
        }
    }



    .categorias {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        flex-direction: column;

        &-div {
            display: flex;
            width: 80%;
            box-shadow: 0px 0px 5px 2px darkcyan;
            margin-bottom: 40px;


            img {
                width: 100%;
                height: 100%;
                transition: all 0.3s;
                object-fit: cover;
            }
        }
    }
}


@media screen and (min-width: 850px) {

    .grid-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 75px auto auto auto auto;
        grid-template-areas:
            "header     header"
            "menu-nav   menu-nav"
            "banner     banner"
            "about      about"
            "footer     footer"
    }

    .contenedor-header {
        grid-area: header;
        background: url(../img/Banner-Esencial-Vacio.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        z-index: 1;
        position: sticky;
        top: 0;

        &_div {
            width: 48%;
            height: 75px;
            transition: all 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            right: 1%;

            a {
                height: 70px;
                text-decoration: none;
                font-family: 'Dancing Script', cursive;
                font-size: 40pt;
                color: rgb(255, 160, 150);
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin-right: 1rem;
                    border-color: silver; //rgb(255, 160, 150)
                    border-style: solid;
                    width: 60px;
                    border-radius: 50%;
                    height: 60px;
                    vertical-align: top;
                }
            }


            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .contenedor-nav {
        grid-area: menu-nav;
        height: max-content;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 75px;
        border-bottom-style: solid;
        border-color: #e91e63;
        ;
        border-top: #e91e63;
        border-top-style: solid;

        z-index: 2;

        &_menu {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            li {
                transition: all 0.3s;
                margin-inline: 0;
                flex-direction: column;
                margin-inline: 2rem;

                &:hover {
                    transform: scale(1.1);
                }

                a {

                    width: 100%;
                    font-size: 1.5rem;
                    font-family: Montserrat, cursive;
                    text-decoration: none;
                    transition: all 0.3s;
                    color: #C18174;

                    &:hover {
                        color: rgb(255, 160, 150);
                    }
                }
            }
        }
    }


    #carouselExampleFade {
        margin-top: 10px;
        width: 90%;
        left: 5%;
        z-index: 0;
    }





    .categorias {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;
        flex-direction: column;

        &-div {
            display: flex;
            width: auto;
            height: auto;
            margin-bottom: 60px;
            box-shadow: 5px 8px 20px darkgray;
            transition: all 0.3s;

            img {
                width: 750px;
                height: 250px;
                opacity: .8;
                transition: all 0.3s;

                &:hover {
                    opacity: 1;
                }
            }

            &:nth-child(odd) {
                &:hover {
                    opacity: 1;
                    box-shadow: 0px 0px 50px 2px darkgreen;
                }
            }

            &:nth-child(even) {
                &:hover {
                    opacity: 1;
                    box-shadow: 0px 0px 50px 2px darkgoldenrod;
                }
            }

        }
    }


    .footer {
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: darkslategrey;
        width: 100%;
        color: #fff;
        font-size: 14px;
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        border-top-style: solid;
        border-color: black;

        p {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            font-style: italic;
            color: rgb(80, 239, 183)
        }
    }
}